@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background-start-rgb: 24, 24, 27;
  --background-end-rgb: 24, 24, 27;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-start-rgb: 24, 24, 27;
    --background-end-rgb: 24, 24, 27;
  }
}

body {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  user-select: none;
}

@layer components {
  .td-base {
    @apply px-2 py-2;
  }
  .th-base {
    @apply px-2 py-3 bg-zinc-600 text-left text-xs font-bold uppercase tracking-wider;
  }
}
